// ### PDF Canvas
.left-col,
.right-col {
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.modal-header-footer {
  background-color: #e9ebf0;
}

