/**/
.page-break {
  page-break-after: always;
}

/*----------------------------------------**
  * Page Sizes
  *----------------------------------------**
  * - to obtain page sizes A4, A5...
  *----------------------------------------**/

@media print {
  .cv-wrapper .cv-img-wrapper > img {
    width: 120px;
    margin-top: 0.4em;
    border: 1px solid #000 !important;
  }
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

$section-backgroundColor: #3f5acf;
$section-color: #000;
$section-title-backgroundColor: rgba($section-color, 0.2);
$link-color: $section-color;

/*----------------------------------------**
   * CV Styles
   *----------------------------------------**
   * - sections titles, contents...
   *----------------------------------------**/

.cv-wrapper {
  background-color: $section-backgroundColor;
  padding: 1em 0;

  a {
    color: $link-color;
    font-weight: bold;
  }

  /* font */
  color: $section-color;
  font-family: "Titillium Web", sans-serif;

  .cv-title {
    width: 100%;
    text-align: center;

    /**/
    font-size: 38px;
    font-weight: bold;
  }

  .cv-img-wrapper {
    text-align: right;
  }

  .cv-img-wrapper > img {
    border: 1px solid #000;
    width: 60%;
    opacity: 0.8;
  }

  /* cv section */
  .cv-section {
    width: 100%;

    .cv-section-title {
      width: 100%;
      padding: 0.4em;

      /* border */
      border-radius: 4px;
      border-bottom: 1px solid $section-color;

      /* font */
      color: $section-color;
      font-weight: bold;
      font-style: italic;
    }

    .cv-section-content {
      padding: 1em 0.4em;
    }
  }

  /* item list */
  .cv-item-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cv-item {
    .cv-item-title {
      /* font */
      font-weight: bold;
    }
  }
}

@media print {
  /*----------------------------------------**
   * CV Styles
   *----------------------------------------**
   * - sections titles, contents...
   *----------------------------------------**/

  .cv-wrapper {
    width: 21cm;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
  }

  /* CV image */
  .cv-img-wrapper {
    text-align: right;
  }

  .cv-img-wrapper > img {
    border: 1px solid #000;
    width: 70%;
  }

  /**/
  .cv-title {
    width: 100%;
    text-align: center;

    /* fonts */
    font-size: 38px;
    font-weight: bold;

    color: darkblue;
  }

  /* CV item list */
  .cv-item-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cv-item-list > .cv-item .cv-item-title {
    /* font */
    font-weight: bold;
  }

  .cv-item-list.work-experiences-list .cv-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.4em;
  }

  .cv-item-list.work-experiences-list > .cv-item {
    padding-bottom: 1em;
  }

  /* CV Section */
  .cv-section {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .cv-section > .cv-section-title {
    padding: 0.4em;

    background-color: #c4daff !important;

    /* font */
    font-size: 15px;
    font-weight: bold;
    color: darkblue !important;

    -webkit-print-color-adjust: exact;
  }

  .cv-section > .cv-section-content {
    padding: 0.4em;
    font-size: 15px;
  }
}

@media not print {
  .cv-wrapper {
    background-color: #eee;
    color: black;
    cursor: default;
  }

  .cv-toolbar{
    width: 100%;
    text-align: center;
  }

  .cv-title {
    font-style: italic;
    margin-bottom: 0.5em;

    box-shadow: 5px 5px 10px #bababa;
    background-color: #ccc;

    /* font */
    color: #444;
    /* border */
    border: 1px solid #aaa;
    border-bottom: 4px solid #aaa;
    border-right: 2px solid #aaa;

    border-bottom-right-radius: 10px;
  }

  .cv-section-title {
    border: 0 !important;
    font-size: 20px;
  }

  .cv-section-content {
    margin-bottom: 1em;
    background-color: #ddd;

    box-shadow: 5px 5px 10px #ccc;

    /* border */
    border: 1px solid #aaa;
    border-bottom: 4px solid #aaa;
    border-right: 2px solid #aaa;
    border-top: 2px solid #777;

    border-bottom-right-radius: 10px;
  }

  .cv-item-list .cv-item:not(:last-child) {
    border-bottom: 1px solid #bababa;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }

  .item-details {
    margin-top: 0.5em;
  }

  .cv-wrapper .cv-img-wrapper {
    text-align: center;
  }

  .cv-wrapper .cv-img-wrapper > img {
    border-color: #ccc !important;
    box-shadow: 1px 1px 10px #777;
  }
}
