.react-switch-checkbox {
    width: 0;
  }
  
  .react-switch-label {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.3s;
  }
  
  .react-switch-label .react-switch-button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: 0.3s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.7);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100%);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 30px;
  }