// ########## HowToBrowser
.link {
    color: #353a3f;
}

.link:hover {
    color: #646b73;
}

ol.breadcrumb {
    margin: 0 !important;
}

// ########### Sliding Pane
.howto-sliding-pane {
    height: 100vh !important;
    margin-top: 0vh !important;
}
.howto-sliding-pane-overlay {
    z-index: 999 !important;
}
