html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
  padding: 10px;
}

footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #343a40;
}

.portfolio-link {
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
  font-size: 1.6em
}

.portfolio-link.gitlab:hover{
  color: #E2432A!important;
}
.portfolio-link.medium:hover{
  color: #000000!important;
}
.portfolio-link.google-play:hover{
  color: #3BCCFF!important;
}
.portfolio-link.bitbucket:hover{
  color: #0C61DB!important;
}
