html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
  padding: 10px;
  background-color: #e9ebf0;
}

footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #343a40;
}


/* .nav-link {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  transition: border-color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out;
}

.nav-link.active {
  border-color: #29a4d9;
} */


.portfolio-link, .nav-link.icon {
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
  font-size: 1.6em;
}


.icon.gitlab:hover {
  color: #e2432a !important;
}
.icon.medium:hover {
  color: #000000 !important;
}
.icon.google-play:hover {
  color: #3bccff !important;
}
.icon.bitbucket:hover {
  color: #0c61db !important;
}
